@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}


::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}


::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ql-editor {
    overflow-y: scroll;
    min-height: 46.9em;
}